include:
  - project: wartek-id/matk/nexus/tooling/cicd-template
    file: stages.gitlab-ci.yml
    ref: main
  - project: wartek-id/matk/nexus/tooling/cicd-template
    file: job-template.gitlab-ci.yml
    ref: main
  - local: .gitlab/build.gitlab-ci.yml
  - local: .gitlab/deploy.gitlab-ci.yml
  - local: .gitlab/test.gitlab-ci.yml
