services:
  postgres:
    image: postgres:17-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    command: -c fsync=off -c synchronous_commit=off -c full_page_writes=off -c max_connections=1000
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
