test:
  extends:
    - .rules-merge-request
  needs: []
  stage: test
  image: $CI_REGISTRY_DOCKER/golang:1.25.0-alpine3.22
  services:
    - name: $CI_REGISTRY_DOCKER/postgres:17-alpine
      alias: postgres
      command:
        [
          "-c",
          "fsync=off",
          "-c",
          "synchronous_commit=off",
          "-c",
          "full_page_writes=off",
          "-c",
          "max_connections=1000",
        ]
      variables:
        POSTGRES_PASSWORD: postgres
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    NEXUS_TEST_DB_HOST: postgres
    NEXUS_TEST_DB_PORT: 5432
    NEXUS_TEST_DB_SCHEMA: public
    NEXUS_TEST_DB_NAME: postgres
    NEXUS_TEST_DB_PASSWORD: postgres
    NEXUS_TEST_DB_SUPERUSER: postgres
  script:
    - mkdir -p .go
    - go test ./...
  cache:
    when: always
    key:
      files:
        - go.sum
    paths:
      - .go
  # TODO: hapus setelah integrasi auth selesai dibuat.
  allow_failure: true
