test:
  extends:
    - .rules-merge-request
  needs: []
  stage: test
  image: $CI_REGISTRY_UTILITY/go-testkit:1.25.0-patch1
  services:
    - name: $CI_REGISTRY_DOCKER/postgres:17-alpine
      alias: postgres
      command:
        [
          "-c",
          "fsync=off",
          "-c",
          "synchronous_commit=off",
          "-c",
          "full_page_writes=off",
          "-c",
          "max_connections=1000",
        ]
      variables:
        POSTGRES_PASSWORD: postgres
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    NEXUS_TEST_DB_HOST: postgres
    NEXUS_TEST_DB_PORT: 5432
    NEXUS_TEST_DB_SCHEMA: public
    NEXUS_TEST_DB_NAME: postgres
    NEXUS_TEST_DB_PASSWORD: postgres
    NEXUS_TEST_DB_SUPERUSER: postgres
  script:
    - mkdir -p .go
    - golangci-lint run --timeout=10m
    - go test ./...
  cache:
    when: always
    key:
      files:
        - go.sum
    paths:
      - .go

validate-api-doc:
  needs: []
  stage: test
  image: $CI_REGISTRY_UTILITY/go-testkit:1.25.0-patch1
  rules:
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    changes:
      compare_to: main
      paths:
        - services/kepegawaian/docs/openapi.yaml
        - services/portal/docs/openapi.yaml
        - .spectral.yaml
  script:
    - spectral lint --fail-severity=warn services/kepegawaian/docs/openapi.yaml services/portal/docs/openapi.yaml
