openapi: 3.1.1
info:
  title: Nexus API
  version: 0.1.0
  description: Dokumentasi API untuk service Nexus.
servers:
  - url: http://localhost:8000
tags:
  - name: Sample Log Harian
paths:
  /sample-log-harian:
    get:
      tags:
        - Sample Log Harian
      summary: Lihat data log harian.
      description: Lihat data log harian dari user yang login.
      operationId: listLogHarian
      parameters:
        - $ref: "#/components/parameters/authRequired"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              example:
                data:
                  - tanggal: 2000-01-02
                    aktivitas: "Melakukan task A"
                  - tanggal: 2000-01-03
                    aktivitas: "Melakukan task B"
                meta:
                  limit: 10
                  offset: 0
                  total: 2
              schema:
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        tanggal:
                          type: string
                          format: date
                        aktivitas:
                          type: string
                      required:
                        - tanggal
                        - aktivitas
                  meta:
                    $ref: "#/components/schemas/metaPagination"
components:
  parameters:
    authRequired:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 50
    offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
        minimum: 0
  schemas:
    metaPagination:
      type: object
      properties:
        limit:
          type: integer
          example: 10
          minimum: 1
          maximum: 50
        offset:
          type: integer
          example: 0
          minimum: 0
        total:
          type: integer
          example: 100
          minimum: 0
