openapi: 3.1.1
info:
  title: API Portal
  version: 0.1.0
  description: Dokumentasi API untuk service portal.
servers:
  - url: http://localhost:8000
tags:
  - name: Authentication
  - name: Dokumen Pendukung
  - name: Pemberitahuan
  - name: Resource Permission
  - name: Role
paths:
  /v1/auth/login:
    get:
      tags:
        - Authentication
      summary: Login.
      description: Redirect ke laman login keycloak.
      operationId: authLogin
      parameters:
        - name: redirect_uri
          in: query
          schema:
            type: string
            format: uri
      responses:
        "302":
          description: Redirect ke laman login keycloak.
          headers:
            Location:
              description: Redirect URL.
              schema:
                type: string
                format: uri
  /v1/auth/logout:
    get:
      tags:
        - Authentication
      summary: Logout.
      description: Redirect ke laman logout keycloak.
      operationId: authLogout
      parameters:
        - name: id_token_hint
          in: query
          required: true
          schema:
            type: string
        - name: post_logout_redirect_uri
          in: query
          schema:
            type: string
            format: uri
      responses:
        "302":
          description: Redirect ke laman logout keycloak.
          headers:
            Location:
              description: Redirect URL.
              schema:
                type: string
                format: uri
  /v1/auth/exchange-token:
    post:
      tags:
        - Authentication
      summary: Exchange Token.
      description: Tukar callback code dengan token.
      operationId: authExchangeToken
      requestBody:
        required: true
        content:
          application/json:
            example:
              code: e512390d-b20c-41fc-a0b1-3a006107dc77.3bbc36e9-db2c-4801-8f81-5384d17a2a64
              redirect_uri: http://localhost:5173/auth/callback
            schema:
              additionalProperties: false
              properties:
                code:
                  type: string
                redirect_uri:
                  type: string
                  format: uri
              required:
                - code
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              example:
                data:
                  access_token: eyJhbGciOiJSUzI...
                  expires_in: 300
                  refresh_token: eyJhbGciOiJSUzI...
                  refresh_expires_in: 1800
                  id_token: eyJhbGciOiJSUzI...
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: "#/components/schemas/tokenResponse"
        "422":
          description: User tidak ditemukan.
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  message:
                    type: string
  /v1/auth/refresh-token:
    post:
      tags:
        - Authentication
      summary: Refresh Token.
      description: Tukar refresh_token dengan token baru.
      operationId: authRefreshToken
      requestBody:
        required: true
        content:
          application/json:
            example:
              refresh_token: eyJhbGciOiJSUzI...
            schema:
              additionalProperties: false
              properties:
                refresh_token:
                  type: string
              required:
                - refresh_token
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              example:
                data:
                  access_token: eyJhbGciOiJSUzI...
                  expires_in: 300
                  refresh_token: eyJhbGciOiJSUzI...
                  refresh_expires_in: 1800
                  id_token: eyJhbGciOiJSUzI...
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: "#/components/schemas/tokenResponse"
        "422":
          description: User tidak ditemukan.
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  message:
                    type: string
  /v1/dokumen-pendukung:
    get:
      tags:
        - Dokumen Pendukung
      summary: Lihat daftar dokumen pendukung.
      description: Lihat daftar dokumen pendukung.
      operationId: listDokumenPendukung
      parameters:
        - $ref: "#/components/parameters/authRequired"
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        id:
                          type: integer
                        nama_tombol:
                          type: string
                        nama_halaman:
                          type: string
                        diperbarui_oleh:
                          type: string
                        terakhir_diperbarui:
                          type: string
                          format: date
                          nullable: true
                        status:
                          type: string
                          enum:
                            - Sudah Upload
                            - Belum Upload
  /v1/pemberitahuan:
    get:
      tags:
        - Pemberitahuan
      summary: Lihat daftar pemberitahuan.
      description: Lihat daftar pemberitahuan.
      operationId: listPemberitahuan
      parameters:
        - $ref: "#/components/parameters/authRequired"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        id:
                          type: integer
                        judul_berita:
                          type: string
                        deskripsi_berita:
                          type: string
                        status:
                          type: string
                          enum:
                            - Menunggu Diberitakan
                            - Aktif
                            - Sudah Tidak Aktif
                        diperbarui_oleh:
                          type: string
                        terakhir_diperbarui:
                          type: string
                  meta:
                    $ref: "#/components/schemas/metaPagination"
  /v1/resources:
    get:
      tags:
        - Resource Permission
      summary: Lihat daftar resources.
      description: Lihat daftar resources dan resource permissions.
      operationId: listResources
      parameters:
        - $ref: "#/components/parameters/authRequired"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        nama:
                          type: string
                        resource_permissions:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              id:
                                type: integer
                              kode:
                                type: string
                              nama_permission:
                                type: string
                  meta:
                    $ref: "#/components/schemas/metaPagination"
  /v1/resource-permissions/me:
    get:
      tags:
        - Resource Permission
      summary: Lihat daftar resource permissions dari user yang login.
      description: Lihat daftar resource permissions dari user yang login.
      operationId: listMyResourcePermissions
      parameters:
        - $ref: "#/components/parameters/authRequired"
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: string
  /v1/roles:
    get:
      tags:
        - Role
      summary: Lihat daftar roles.
      description: Lihat daftar roles.
      operationId: listRoles
      parameters:
        - $ref: "#/components/parameters/authRequired"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        id:
                          type: integer
                        nama:
                          type: string
                        deskripsi:
                          type: string
                        jumlah_user:
                          type: integer
                        is_default:
                          type: boolean
                  meta:
                    $ref: "#/components/schemas/metaPagination"
    post:
      tags:
        - Role
      summary: Tambah role.
      description: Tambah role baru.
      operationId: createRole
      parameters:
        - $ref: "#/components/parameters/authRequired"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                nama:
                  type: string
                  minLength: 1
                  maxLength: 100
                deskripsi:
                  type: string
                  maxLength: 255
                is_default:
                  type: boolean
                resource_permission_ids:
                  type: array
                  items:
                    type: integer
                  uniqueItems: true
              required:
                - nama
      responses:
        "201":
          description: Sukses.
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    properties:
                      id:
                        type: integer
        "400":
          $ref: "#/components/responses/badRequest"
  /v1/roles/{id}:
    get:
      tags:
        - Role
      summary: Detail role.
      description: Detail role berdasarkan id.
      operationId: getRole
      parameters:
        - $ref: "#/components/parameters/authRequired"
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    properties:
                      id:
                        type: integer
                      nama:
                        type: string
                      deskripsi:
                        type: string
                      jumlah_user:
                        type: integer
                      is_default:
                        type: boolean
                      resource_permissions:
                        type: array
                        items:
                          type: object
                          additionalProperties: false
                          properties:
                            id:
                              type: integer
                            kode:
                              type: string
                            nama_resource:
                              type: string
                            nama_permission:
                              type: string
        "400":
          $ref: "#/components/responses/badRequest"
        "404":
          $ref: "#/components/responses/notFound"
    patch:
      tags:
        - Role
      summary: Update role.
      description: Update role.
      operationId: updateRole
      parameters:
        - $ref: "#/components/parameters/authRequired"
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              minProperties: 1
              properties:
                nama:
                  type: string
                  minLength: 1
                  maxLength: 100
                deskripsi:
                  type: string
                  maxLength: 255
                is_default:
                  type: boolean
                resource_permission_ids:
                  type: array
                  items:
                    type: integer
                  uniqueItems: true
      responses:
        "204":
          description: Sukses.
        "400":
          $ref: "#/components/responses/badRequest"
        "404":
          $ref: "#/components/responses/notFound"
components:
  parameters:
    authRequired:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 50
    offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
        minimum: 0
  responses:
    badRequest:
      description: Request dari client tidak valid.
      content:
        application/json:
          schema:
            additionalProperties: false
            properties:
              message:
                type: string
    notFound:
      description: Data tidak ditemukan.
      content:
        application/json:
          schema:
            additionalProperties: false
            properties:
              message:
                type: string
  schemas:
    metaPagination:
      type: object
      additionalProperties: false
      properties:
        limit:
          type: integer
          example: 10
          minimum: 1
          maximum: 50
        offset:
          type: integer
          example: 0
          minimum: 0
        total:
          type: integer
          example: 100
          minimum: 0
    tokenResponse:
      type: object
      additionalProperties: false
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
        refresh_token:
          type: string
        refresh_expires_in:
          type: integer
        id_token:
          type: string
      required:
        - access_token
        - expires_in
        - refresh_token
        - refresh_expires_in
        - id_token
