openapi: 3.1.1
info:
  title: API Portal
  version: 0.1.0
  description: Dokumentasi API untuk service portal.
servers:
  - url: http://localhost:8000
tags:
  - name: Authentication
  - name: Dokumen Pendukung
  - name: Pemberitahuan
paths:
  /v1/auth/login:
    get:
      tags:
        - Authentication
      summary: Login.
      description: Redirect ke laman login keycloak.
      operationId: authLogin
      responses:
        "302":
          description: Redirect ke laman login keycloak.
          headers:
            Location:
              description: Redirect URL.
              schema:
                type: string
                format: uri
  /v1/auth/logout:
    get:
      tags:
        - Authentication
      summary: Logout.
      description: Redirect ke laman logout keycloak.
      operationId: authLogout
      parameters:
        - name: id_token_hint
          in: query
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Redirect ke laman logout keycloak.
          headers:
            Location:
              description: Redirect URL.
              schema:
                type: string
                format: uri
  /v1/auth/exchange-token:
    post:
      tags:
        - Authentication
      summary: Exchange Token.
      description: Tukar callback code dengan token.
      operationId: authExchangeToken
      requestBody:
        required: true
        content:
          application/json:
            example:
              code: e512390d-b20c-41fc-a0b1-3a006107dc77.3bbc36e9-db2c-4801-8f81-5384d17a2a64
            schema:
              additionalProperties: false
              properties:
                code:
                  type: string
              required:
                - code
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              example:
                data:
                  access_token: eyJhbGciOiJSUzI...
                  expires_in: 300
                  refresh_token: eyJhbGciOiJSUzI...
                  refresh_expires_in: 1800
                  id_token: eyJhbGciOiJSUzI...
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: "#/components/schemas/tokenResponse"
  /v1/auth/refresh-token:
    post:
      tags:
        - Authentication
      summary: Refresh Token.
      description: Tukar refresh_token dengan token baru.
      operationId: authRefreshToken
      requestBody:
        required: true
        content:
          application/json:
            example:
              refresh_token: eyJhbGciOiJSUzI...
            schema:
              additionalProperties: false
              properties:
                refresh_token:
                  type: string
              required:
                - refresh_token
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              example:
                data:
                  access_token: eyJhbGciOiJSUzI...
                  expires_in: 300
                  refresh_token: eyJhbGciOiJSUzI...
                  refresh_expires_in: 1800
                  id_token: eyJhbGciOiJSUzI...
              schema:
                additionalProperties: false
                properties:
                  data:
                    $ref: "#/components/schemas/tokenResponse"
  /v1/dokumen-pendukung:
    get:
      tags:
        - Dokumen Pendukung
      summary: Lihat daftar dokumen pendukung.
      description: Lihat daftar dokumen pendukung.
      operationId: listDokumenPendukung
      parameters:
        - $ref: "#/components/parameters/authRequired"
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        id:
                          type: integer
                        nama_tombol:
                          type: string
                        nama_halaman:
                          type: string
                        diperbarui_oleh:
                          type: string
                        terakhir_diperbarui:
                          type: string
                          format: date
                        status:
                          type: string
                          enum:
                            - Sudah Upload
                            - Belum Upload
  /v1/pemberitahuan:
    get:
      tags:
        - Pemberitahuan
      summary: Lihat daftar pemberitahuan.
      description: Lihat daftar pemberitahuan.
      operationId: listPemberitahuan
      parameters:
        - $ref: "#/components/parameters/authRequired"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: Sukses.
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        id:
                          type: integer
                        judul_berita:
                          type: string
                        deskripsi_berita:
                          type: string
                        status:
                          type: string
                          enum:
                            - Menunggu Diberitakan
                            - Aktif
                            - Sudah Tidak Aktif
                        diperbarui_oleh:
                          type: string
                        terakhir_diperbarui:
                          type: string
                  meta:
                    $ref: "#/components/schemas/metaPagination"
components:
  parameters:
    authRequired:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 50
    offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
        minimum: 0
  schemas:
    metaPagination:
      type: object
      additionalProperties: false
      properties:
        limit:
          type: integer
          example: 10
          minimum: 1
          maximum: 50
        offset:
          type: integer
          example: 0
          minimum: 0
        total:
          type: integer
          example: 100
          minimum: 0
    tokenResponse:
      type: object
      additionalProperties: false
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
        refresh_token:
          type: string
        refresh_expires_in:
          type: integer
        id_token:
          type: string
      required:
        - access_token
        - expires_in
        - refresh_token
        - refresh_expires_in
        - id_token
