name: Greetings

on:
  pull_request:
    types:
      - opened
  issues:
    types:
      - opened

permissions:
  issues: write
  pull-requests: write

jobs:
  greet:
    name: Greet First-Time Contributors
    runs-on: ubuntu-latest
    steps:
      - name: Greeting
        uses: actions/first-interaction@v3.1.0
        with:
          issue-message: |
            ### Automated Greeting

            Thank you for your feedback!

            Your issue will be adressed **ASAP**.
          pr-message: |
            ### Automated Greeting

            Many many thanks for your contributions!

            Your PR will be checked **ASAP**.
